In [ ]:
r=float(input("Enter r: "))
area=3.14*r**2
print("Area: ", area)

Enter r: 5.6
Area:  98.4704

In [ ]:
#interview challange, find area of circle in minimum lines of code
r=float(input("Enter r: "))
print("Area: ", 3.14*r**2)

Enter r: 5.6
Area:  98.4704

In [ ]:
#interview challange, find area of circle in minimum lines of code
print("Area: ", 3.14*float(input("Enter r: "))**2)

Enter r: 5.6
Area:  98.4704

In [ ]:
#interview challange, find area of rectangle in minimum lines of code
print("area: ", float(input("Enter l: "))*float(input("Enter b: ")))

Enter l: 7.8
Enter b: 11
area:  85.8

In [ ]:
#interview challange, to convert fahreinheit to Celsius

In [ ]:
#interview challange, to calculate compound interest
p=float(input("Enter Principal: "))
r=float(input("Enter Rate of Interest per month: "))
t=float(input("Enter Time span in months: "))
print("Amount: ", p*(1+r/100)**t)
print("Interst: ", (p*(1+r/100)**t)-p)

Enter Principal: 1000
Enter Rate of Interest: 10
Enter Time span in months: 1
Amount:  1100.0
Interst:  100.0

In [ ]:
import math
math.pi

3.141592653589793

In [ ]:
math.inf

inf

In [ ]:
math.sqrt(121)

11.0

In [ ]:
# interview challange, find square root of a number without sqrt() method
121**0.5

11.0

# interview challange, to swap two numbers with bitwise
1. x = (10)10 = (1010)2
2. y = (8)10 = (1000)2
3. x = x^y = = 1010
4. y = x^y = = (1010)2 = (10)10
5. x= x^y = = (1000)2 = (8)10

#interview challange, divide a number without arithmetic operator
- ```<<``` n is same as *2n
- ```>>``` n is same as /2n

Note: Bitwise operators only support 'int' data type

In [ ]:
x=10
x<<2

40

In [ ]:
x=10
x>>2

2

In [ ]:
x=10.00
# x>>2  # Bitwise operators only support 'int' data type

In [ ]:
~128 # reverse sign & -1; 128 becomes -128, then -128-1 = -129

-129

In [ ]:
~-128 # 128-1=127

127

###interview challange, reverse of a>b
it is b<=a (do not put b<a)

In [ ]:
no=int(input("Enter a number: "))
if no>=0:
  print("Accept it")
print("done")

Enter a number: 8
Accept it
done

In [ ]:
no=int(input("Enter a number: "))
if no>=0:
  print("Entered if block")
  print("Accept it")
  print("Exiting if block")
print("done")

Enter a number: -6
done

In [ ]:
no=int(input("Enter a number: "))
if no>=0:
  print("Accept it")
else:
    print("Rejected it")
print("done")

Enter a number: 5
Accept it
done

In [ ]:
# +ve or -ve
no=int(input("Enter a number: "))
if no>=0:
  print("no is +ve")
else:
    print("no is -ve")
print("done")

Enter a number: 0
no is +ve
done

In [ ]:
# +ve 0 or -ve
no=int(input("Enter a number: "))
if no>0:
  print(no, "is +ve")
elif no<0:
    print(no, "is -ve")
else:
  print(no, "is zero")
print("done")

Enter a number: 5
5 is +ve
done

In [ ]:
# take two numbers, print smaller, also check if both are equal
n1=int(input("Enter 1st number: "))
n2=int(input("Enter 2nd number: "))
if n1<n2:
  print(n1, "is smaller")
elif n2<n1:
  print(n2, "is smaller")
else:
  print("both", n1, "&", n2, "are equal")

Enter 1st number: 1
Enter 2nd number: 1
both 1 & 1 are equal

In [ ]:
#print passing class given percentage
# p>60: first
# 50<=p<60 : second
# 40<=p<50 : third
# p<40 : fail
per=float(input("Enter percentage: "))
if per>=60:
  print("First class")
elif 50<=per and per<60:
  print("Second class")
elif 40<=per and per<50:
  print("Third class")
else:
  print("Fail")

Enter percentage: 32.9
Fail

In [ ]:
# optimized, at most only one block will execute
per=float(input("Enter percentage: "))
if per>=60:
  print("First class")
elif 50<=per:
  print("Second class")
elif 40<=per:
  print("Third class")
else:
  print("Fail")

Enter percentage: 76.8
First class

In [ ]:
i=0
while i<=3:
  print(i)
  i+=1
print("finally i is", i)

0
1
2
3
finally i is 4

In [ ]:
# 10, 20, 30... 100
i=10
while i<=100:
  print(i)
  i+=10

10
20
30
40
50
60
70
80
90
100

In [ ]:
# 10, 9, 8, ... 1
i=10
while i>=1:
  print(i)
  i-=1

10
9
8
7
6
5
4
3
2
1

In [ ]:
# 1 to n, where n entered by user n>0
n=int(input("Enter value of n : "))
if n>0:
  i=1
  while i<=n:
    print(i)
    i+=1

Enter value of n : 5
1
2
3
4
5

In [ ]:
# print series start to end
#     start: 3 end: 5    3, 4, 5
start=int(input("Enter start : "))
end=int(input("Enter end : "))
i=start
while i<=end:
  print(i)
  i+=1

Enter start : 3
Enter end : 5
3
4
5

In [ ]:
# print series start to end
#     start: 2 end:-2   2, 1, 0, -1, -2
start, end=int(input("Enter start : ")), int(input("Enter end : "))
if start<end:
  i=start
  while i<=end:
    print(i, end='', sep=',')
    i+=1
else:
  i=start
  while i>=end:
    print(i, ',', end='')
    i-=1

Enter start : 3
Enter end : -4
3 ,2 ,1 ,0 ,-1 ,-2 ,-3 ,-4 ,

### infinite while loop
1. Loop will only stop when user wants
2. uses break statement

In [ ]:
while True:
  no=input("Enter a number: ")
  if no=='':
    break
print("Thanks for using code")

Enter a number: 11
Enter a number: -22
Enter a number: 34
Enter a number: 77
Enter a number: 23546
Enter a number: 0
Enter a number:
Thanks for using code

In [ ]:
# code should ask the user to guess number, and run until he guesses 28
while True:
  no=float(input("Guess the number: "))
  if no==28.00:
    break
print("You've correctly guessed number 28")

Guess the number: 28.2
Guess the number: 28.0000
You've correctly guessed number 28

In [ ]:
# 1. tea  2. coffee 3. colddrink  0. exit ---Error
while True:
  #Menu
  print("\n1. Tea\n2. Coffee\n3. ColdDrink\n0. exit\n:")
  ##input
  ch=int(input(""))
  #conditional
  if ch==1:
    print("Have Tea")
  elif ch==2:
    print("Have coffee")
  elif ch==3:
    print("Have cold drink")
  elif ch==0:
    print("Thanks for using code")
    break
  else:
    print("Erong Choice")

1. Tea
2. Coffee
3. ColdDrink
0. exit
:
1
Have Tea

1. Tea
2. Coffee
3. ColdDrink
0. exit
:
2
Have coffee

1. Tea
2. Coffee
3. ColdDrink
0. exit
:
3
Have cold drink

1. Tea
2. Coffee
3. ColdDrink
0. exit
:
8
Erong Choice

1. Tea
2. Coffee
3. ColdDrink
0. exit
:
0
Thanks for using code

In [ ]:
#10 tea   #15 coffee    #30 cold drink    # calculate earnings at end, and how much of each item has earned
earnTea, earnCoffee, earnColD=0, 0, 0
while True:
  print("\n1. Rs.10 for tea\n2. Rs.15 for coffee\n3. Rs.30 for cold drink\n0. to end day & show earnings\n:")
  ch=int(input(''))
  print("tea:", earnTea, "Coffee:", earnCoffee, "ColdD:", earnColD)   #debug
  if ch==1:
    print("Have tea for Rs. 10")
    earnTea+=10
    print("tea:", earnTea, "Coffee:", earnCoffee, "ColdD:", earnColD)   #debug
  elif ch==2:
    print("Have Coffee for Rs. 15")
    earnCoffee+=15
    print("tea:", earnTea, "Coffee:", earnCoffee, "ColdD:", earnColD)   #debug
  elif ch==3:
    print("Have Cold Drink for Rs. 30")
    earnColD+=30
    print("tea:", earnTea, "Coffee:", earnCoffee, "ColdD:", earnColD)   #debug
  elif ch==0:
    print("\n\nDay end\nTea Earning:", earnTea, "\nCoffee Earning:", earnCoffee, "\nCold Drink Earning:", earnColD, "\nTotal Earning:", earnTea+earnCoffee+earnColD)
    break
  else:
    print("Wrong Choice")

1. Rs.10 for tea
2. Rs.15 for coffee
3. Rs.30 for cold drink
0. to end day & show earnings
:
1
tea: 0 Coffee: 0 ColdD: 0
Have tea for Rs. 10
tea: 10 Coffee: 0 ColdD: 0

1. Rs.10 for tea
2. Rs.15 for coffee
3. Rs.30 for cold drink
0. to end day & show earnings
:
2
tea: 10 Coffee: 0 ColdD: 0
Have Coffee for Rs. 15
tea: 10 Coffee: 15 ColdD: 0

1. Rs.10 for tea
2. Rs.15 for coffee
3. Rs.30 for cold drink
0. to end day & show earnings
:
2
tea: 10 Coffee: 15 ColdD: 0
Have Coffee for Rs. 15
tea: 10 Coffee: 30 ColdD: 0

1. Rs.10 for tea
2. Rs.15 for coffee
3. Rs.30 for cold drink
0. to end day & show earnings
:
2
tea: 10 Coffee: 30 ColdD: 0
Have Coffee for Rs. 15
tea: 10 Coffee: 45 ColdD: 0

1. Rs.10 for tea
2. Rs.15 for coffee
3. Rs.30 for cold drink
0. to end day & show earnings
:
3
tea: 10 Coffee: 45 ColdD: 0
Have Cold Drink for Rs. 30
tea: 10 Coffee: 45 ColdD: 30

1. Rs.10 for tea
2. Rs.15 for coffee
3. Rs.30 for cold drink
0. to end day & show earnings
:
0
tea: 10 Coffee: 45 ColdD: 30


Day end
Tea Earning: 10
Coffee Earning: 45
Cold Drink Earning: 30
Total Earning: 85

In [ ]:
# no % 10 returns last digit
# no // 10 will remove last digit
# no /10 will not work in python unlike java,  CPP, etc.
no=12345
while no>0:
  d=no%10
  no=no//10
  print(no, d)

1234 5
123 4
12 3
1 2
0 1

In [ ]:
# reverse a number
no=12345
rno=0
while no>0:
  d=no%10
  no=no//10
  rno=rno*10+d
  print("no: ", no, "rno: ", rno)

no:  1234 rno:  5
no:  123 rno:  54
no:  12 rno:  543
no:  1 rno:  5432
no:  0 rno:  54321

In [ ]:
# check if number is armstrong
no=int(input("Enter number to check armstrong: "))
actnum=no
arm=0
while no>0:
  d=no%10
  no=no//10
  arm=arm+d**3
  print("no: ", no, "arm:", arm, "d: ", d)
if(actnum==arm):
  print("Armstrong")
else:
  print("Non-Armstrong")

Enter number to check armstrong: 153
no:  15 arm: 27 d:  3
no:  1 arm: 152 d:  5
no:  0 arm: 153 d:  1
Armstrong