In [ ]:
r=float(input("Enter r:"))
area=3.14*r**2
print("Area:",area)

Enter r:5.6
Area: 98.4704

In [ ]:
r=float(input("Enter r:"))
print("Area:",3.14*r**2)

Enter r:5.6
Area: 98.4704

In [ ]:
print("Area:",3.14*float(input("Enter r:"))**2)

Enter r:5.6
Area: 98.4704

In [ ]:
print("Area of Rectangle:",float(input("Enter l:"))*float(input("Enter b:")))

Enter l:7.8
Enter b:11
Area of Rectangle: 85.8

In [ ]:
p=float(input("Enter Amount:"))
r=float(input("rate of interest:"))
t=float(input("Enter time in years0:"))
a=p*(1+r/100)**t
print("Compound interest:",a-p)

Enter Amount:0
rate of interest:0
Enter time in years:9
Compound interest: 0.0

In [ ]:
import math

In [ ]:
math.inf

inf

In [ ]:
math.sqrt(121)

11.0

In [ ]:
121**0.5

11.0

In [ ]:
x=10
x<<2

40

In [ ]:
x=10
x>>2

2

In [ ]:
~(-1234)

1233

In [ ]:
no=int(input("Enter a number:"))
if no>=0:
    print("Entered if")
    print("Accept it")
    print("Exiting if")
print("done")

IndentationError: ignored

In [ ]:
no=int(input("Enter a number:"))
if no>=0:
    print("Accept it")
else:
    print("Rejected it")
print("done")

Enter a number:-99
Rejected it
done

In [ ]:
if:
elif:
elif:
elif:
else:

SyntaxError: ignored

In [ ]:
#+ve or -ve
no=int(input("Enter a number:"))
if no>=0:
    print(no,"is +ve")
else:
    print(no,"is -ve")

Enter a number:-0
0 is +ve

In [ ]:
# +ve 0 or -ve
no=int(input("Enter a number:"))
if no>0:
    print(no,"is +ve")
elif no<0:
    print(no,"is -ve")
else:
    print(no,"is zero")

Enter a number:0
0 is zero

In [ ]:
#rear 2 numbers and print smaller also check for both equal
no1=int(input("Enter a number:"))
no2=int(input("Enter another number:"))
if no1<no2:
    print(no1,"is minimum")
elif no2<no1:
    print(no2,"is minimum")
else:
    print(no1,no2,"are equal")

Enter a number:9
Enter another number:9
9 9 are equal

In [ ]:
#print passing class given percentage
# p>60:first
#  50<=p<60:Second
# 40<=p<50:Third
# p<40:fail
p=float(input("Enter Percentages:"))
if p>=60:
    print("First class")
elif p>=50:
    print("Second class")
elif p>=40:
    print("Third class")
else:
    print("Fail")

Enter Percentages:76.9
First class

In [ ]:
i=0
while i<=3:
    print(i)
    i+=1
print("Finally i is:",i)

0
1
2
3
Finally i is: 4

In [ ]:
# 10,20,30... 100
# 10,9,8,    1
# 1 to n where n enter by user n>0
# print series start to end 
    start:3 end:5 3,4,5
    start:2 end:-2 2,1,0,-1,-2

In [ ]:
# 10,20,30... 100
i=10
while i<=100:
    print(i)
    i+=10
print("Finally i is:",i)

10
20
30
40
50
60
70
80
90
100
Finally i is: 110

In [ ]:
#10,9,8    1
i=10
while i>=1:
    print(i)
    i-=1

10
9
8
7
6
5
4
3
2
1

In [ ]:
# 1 to n
n=int(input("Enter n:"))
i=1
while i<=n:
    print(i)
    i+=1

Enter n:7
1
2
3
4
5
6
7

In [ ]:
'''print series start to end 
    start:3 end:5 3,4,5
    start:2 end:-2 2,1,0,-1,-2'''
start,end=int(input("Enter start:")),int(input("Enter End:"))
if start<end:#counter
    i=start
    while i<=end:
        print(i,",",end='')
        i+=1
else:
    i=start
    while i>=end:
        print(i,",",end='')
        i-=1

Enter start:3
Enter End:-4
3 ,2 ,1 ,0 ,-1 ,-2 ,-3 ,-4 ,

In [ ]:
while True:
    no=input("Enter a number:")
    if no=='':
        break
print("Tnaks for using code.")

Enter a number:11
Enter a number:-22
Enter a number:34
Enter a number:77
Enter a number:123456
Enter a number:8765432
Enter a number:0
Enter a number:
Tnaks for using code.

In [ ]:
while True:
    no=int(input("Enter a number:"))
    if no==28:
        break
print("Thaks for using code.")

Enter a number:22
Enter a number:11
Enter a number:0
Enter a number:29
Enter a number:28
Thaks for using code.

In [ ]:
#1.tea 2.coffe 3. cold drink 0.exit ---Error
while True:
    #menu
    print("\n1.tea\n2.coffe\n3.cold drink\n0.exit\n:") 
    #input
    ch=int(input(""))
    #conditional if elif elif else(error)
    if ch==1:
        print("Have tea")
    elif ch==2:
        print("Have coffe")
    elif ch==3:
        print("Have cold drink")
    elif ch==0:
        print("Thanks for using code:")
        break
    else:
        print("Wrong Choice")

1.tea
2.coffe
3.cold drink
0.exit
:
1
Have tea

1.tea
2.coffe
3.cold drink
0.exit
:
2
Have coffe

1.tea
2.coffe
3.cold drink
0.exit
:
3
Have cold drink

1.tea
2.coffe
3.cold drink
0.exit
:
8
Wrong Choice

1.tea
2.coffe
3.cold drink
0.exit
:
0

In [ ]:
#1.tea 2.coffe 3. cold drink 0.exit ---Error
total=0
ct=cc=cd=0
while True:
    #menu
    print("\n1.tea\n2.coffe\n3.cold drink\n0.exit\n:") 
    #input
    ch=int(input(""))
    #conditional if elif elif else(error)
    if ch==1:
        ct+=1
        print("Have tea")
    elif ch==2:
        cc+=1
        print("Have coffe")
    elif ch==3:
        cd+=1
        print("Have cold drink")
    elif ch==0:
        total=ct*10+cc*15+cd*30
        print("Total business:",total,"\nTea:",ct," Coffee:",cc," Cold Drink:",cd)
        break
    else:
        print("Wrong Choice")

1.tea
2.coffe
3.cold drink
0.exit
:
1
Have tea

1.tea
2.coffe
3.cold drink
0.exit
:
1
Have tea

1.tea
2.coffe
3.cold drink
0.exit
:
1
Have tea

1.tea
2.coffe
3.cold drink
0.exit
:
2
Have coffe

1.tea
2.coffe
3.cold drink
0.exit
:
2
Have coffe

1.tea
2.coffe
3.cold drink
0.exit
:
3
Have cold drink

1.tea
2.coffe
3.cold drink
0.exit
:
0
Total business: 90
Tea: 3  Coffee: 2  Cold Drink: 1

In [ ]:
#1.tea 2.coffe 3. cold drink 0.exit ---Error
total=0
ct=cc=cd=0
while True:
    #menu
    print("\n1.tea\n2.coffe\n3.cold drink\n0.exit\n:") 
    #input
    ch=int(input(""))
    #conditional if elif elif else(error)
    if ch==1:
        ct+=1
        total+=10
        print("Have tea")
    elif ch==2:
        cc+=1
        total+=15
        print("Have coffe")
    elif ch==3:
        cd+=1
        total+=30
        print("Have cold drink")
    elif ch==0:
        print("Total business:",total,"\nTea:",ct," Coffee:",cc," Cold Drink:",cd)
        break
    else:
        print("Wrong Choice")

1.tea
2.coffe
3.cold drink
0.exit
:
1
Have tea

1.tea
2.coffe
3.cold drink
0.exit
:
1
Have tea

1.tea
2.coffe
3.cold drink
0.exit
:
1
Have tea

1.tea
2.coffe
3.cold drink
0.exit
:
2
Have coffe

1.tea
2.coffe
3.cold drink
0.exit
:
2
Have coffe

1.tea
2.coffe
3.cold drink
0.exit
:
3
Have cold drink

1.tea
2.coffe
3.cold drink
0.exit
:
0
Total business: 90
Tea: 3  Coffee: 2  Cold Drink: 1

In [ ]:
#Armstrong  153=1^3+5^3+3^3
no=121
tno=no
sum=0
while no>0:
    d=no%10
    no=no//10
    sum=sum+d**3
if sum==tno:
    print("Yes it is")
else:
    print("No it is not")

No it is not

In [ ]:
no=12345
while no>0:
    d=no%10
    no=no//10
    print(no,d)

1234 5
123 4
12 3
1 2
0 1

In [ ]:
no=121
tno=no
rno=0
while no>0:
    d=no%10
    no=no//10
    rno=rno*10+d
    print("no:",no,"rno",rno)
if rno==tno:
    print("Yes")
else:
    print("No")

no: 12 rno 1
no: 1 rno 12
no: 0 rno 121
Yes