In [ ]:
for i in range(1,5,1):
    print(i)

1
2
3
4

In [ ]:
for i in range(5,0,-1):
    print(i)

5
4
3
2
1

In [ ]:
for i in range(1,4,0.5):
    print(i)

TypeError: ignored

In [ ]:
i=1
while i<=3:
    print(i)
    i+=0.5

1
1.5
2.0
2.5
3.0

In [ ]:
for i in range(1,4):
    for j in range(1,4):
        print("i:",i," j:",j)

i: 1  j: 1
i: 1  j: 2
i: 1  j: 3
i: 2  j: 1
i: 2  j: 2
i: 2  j: 3
i: 3  j: 1
i: 3  j: 2
i: 3  j: 3

In [ ]:
for i in range(1,6):
    for j in range(1,i+1):
        print(j%2," ",end='')
    print()

1
1  0
1  0  1
1  0  1  0
1  0  1  0  1

In [ ]:
for i in range(5,0,-1):
    for j in range(1,i+1):
        print(j," ",end='')
    print()

1  2  3  4  5
1  2  3  4
1  2  3
1  2
1

In [ ]:
for i in range(5,0,-1):
    for j in range(1,i+1):
        print(i," ",end='')
    print()

5  5  5  5  5
4  4  4  4
3  3  3
2  2
1

In [ ]:
for i in range(1,6):
    for j in range(1,i+1):
        print(i%2," ",end='')
    print()

1
0  0
1  1  1
0  0  0  0
1  1  1  1  1

In [ ]:
for i in range(5,0,-1):
    for j in range(5,i-1,-1):
        print(j," ",end='')
    print()

5
5  4
5  4  3
5  4  3  2
5  4  3  2  1

In [ ]:
'''
1
2 3
4 5 6
7 8 9 10
'''
k=1
for i in range(1,6):
    for j in range(1,i+1):
        print(k," ",end='')
        k+=1
    print()

1
2  3
4  5  6
7  8  9  10
11  12  13  14  15

In [ ]:
space=5
i=1
while i<=5:
    s=1
    while s<=space:#space printing
        print(" ",end=" ")
        s+=1
    j=1
    while j<=i:
        print(j," ",end="")
        j+=1
    i+=1
    space-=1
    print()

          1
        1  2
      1  2  3
    1  2  3  4
  1  2  3  4  5

In [ ]:
#Armstrong  153=1^3+5^3+3^3
for no in range(100,1000):
    tno=no
    sum=0
    while tno>0:
        d=tno%10
        tno=tno//10
        sum=sum+d**3
    if sum==no:
        print(no)

153
370
371
407

In [ ]:
for y in range(int(input("Enter start:")),int(input("Enter end:"))+1):
    if(y%4==0 and y%100!=0)or(y%400==0):
        print(y,"is a Leap")

Enter start:2000
Enter end:2023
2000 is a Leap
2004 is a Leap
2008 is a Leap
2012 is a Leap
2016 is a Leap
2020 is a Leap

In [ ]:
#fibo 0 1 1 2 3 5 8....
f0,f1=0,1
for i in range(0,int(input("Enter n:"))):
    if i<=1:
        print(i,",",end="")
    else:
        fn=f0+f1
        f0,f1=f1,fn
        print(fn,",",end="")

Enter n:10
0 ,1 ,1 ,2 ,3 ,5 ,8 ,13 ,21 ,34 ,

In [ ]:
#fibo 0 1 1 2 3 5 8....
no=int(input("Enter a number:"))
f0,f1=0,1
for i in range(0,no+1):
    if i<=1:
        if no==0 or no==1:
            print(no,"in series")
    else:
        fn=f0+f1
        if no==fn:
            print(no,"Found in series")
            break
        elif fn>no:
            print(no,"not found in series")
            break
        f0,f1=f1,fn

Enter a number:5
5 Found in series

In [ ]:
no1=int(input("Enter a number:"))
no2=int(input("Enter another number:"))
while no1%no2!=0:
    no1,no2=no2,no1%no2
print(no2,":GCD")

Enter a number:18
Enter another number:12
6 :GCD

In [ ]:
#print tableof a number entered by user
no:2
2 X 1= 2
2 X 2= 4
.
.
.
.
2X10=20

In [ ]:
no=int(input("Enter a number:"))
for i in range(1,11):
    print(no,"X",i,"=",no*i)

Enter a number:6
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
6 X 10 = 60

In [ ]:
#prime
no=int(input("Enter a number:"))
flag=True
for i in range(2,no):
    if no%i==0:
        flag=False
        break
if flag:#flag==True
    print(no,"is prime")
else:
    print(no,"is not prime")

Enter a number:12
12 is not prime

In [ ]:
for no in range(1,101):
    flag=True
    for i in range(2,no):
        if no%i==0:
            flag=False
            break
    if flag:#flag==True
        print(no,"is prime")

1 is prime
2 is prime
3 is prime
5 is prime
7 is prime
11 is prime
13 is prime
17 is prime
19 is prime
23 is prime
29 is prime
31 is prime
37 is prime
41 is prime
43 is prime
47 is prime
53 is prime
59 is prime
61 is prime
67 is prime
71 is prime
73 is prime
79 is prime
83 is prime
89 is prime
97 is prime

In [ ]:
'''
1+9=10
2+8=10




9+1=10
'''
for i in range(1,10):
    print(i,"+",(10-i),"=",(i+(10-i)))

1 + 9 = 10
2 + 8 = 10
3 + 7 = 10
4 + 6 = 10
5 + 5 = 10
6 + 4 = 10
7 + 3 = 10
8 + 2 = 10
9 + 1 = 10

In [ ]:
#list all number from 1 to 50 perfectly div by 3 and 5
for i in range(1,51):
    if i%3==0 and i%5==0:
        print(i)

15
30
45