In [ ]:
class Bank:
  account_no=202300
  def create_account(self):
    Bank.account_no+=1
    self.accno=Bank.account_no
    print("Your account created: ",self.accno)
    self.name=input("Enter name: ")
    while True:
      self.amount=float(input("Enter amount to start account: "))
      if self.amount<2000:
        print('you need minimum 2000 to start a account \n please enter amount greater than 2000')
      else:
        break   
    print("Account number:"+str(self.accno)+" Name:"+self.name+" Amount:"+str(self.amount))
    #print(self)#self.deposit_ammount()
  def __str__(self):
    return "Account number:"+str(self.accno)+" Name:"+self.name+" Amount:"+str(self.amount)
  
  def deposit_ammount(self):
    while True:
      self.deposit=float(input("Enter amount to deposit: "))
      if self.deposit<=0:
        print('please enter amount greater than 0')
      else:
        self.amount +=self.deposit
        break 
  
  def withdraw_ammount(self):
    while True:
      self.withdraw=float(input("Enter amount to withdraw: "))
      amnt = self.amount-self.withdraw
      if self.withdraw<=0 or amnt<2000:
        print('Transaction will lead to minimum account hence terminated')
      else:
        self.amount = amnt
        break

In [ ]:
b1=Bank()

In [ ]:
b1.create_account()

Your account created:  202301
Enter name: amar
Enter amount to start account: 1000
you need minimum 2000 to start a account
 please enter amount greater than 2000
Enter amount to start account: 1500
you need minimum 2000 to start a account
 please enter amount greater than 2000
Enter amount to start account: 2000
Account number:202301 Name:amar Amount:2000.0

In [ ]:
b1.withdraw_ammount()

Enter amount to withdraw: 2900

In [ ]:
print(b1)

Account number:202301 Name:amar Amount:11100.0

In [ ]:
b1.deposit_ammount()

Enter amount to deposit: -9999
please enter amount greater than 0
Enter amount to deposit: 12000

In [ ]:
b2=Bank()
b2.create_account()

Your account created:  202202
Enter name: RUTUJA
Enter amount to start account: 2000
Account number:202202 Name:RUTUJA Amount:2000.0

In [ ]:
b1.deposit_ammount()

Enter amount to deposit: 3000

In [ ]:
print(b1)

Account number:202201 Name:amar Amount:6000.0

In [ ]:
acclist=[]
while True:
  ch=int(input("\n1.Create Account\n2.Check Balance\n3.Deposit Amount\n4.Withdraw amount\n0.Exit\n:"))
  if ch==1:
    b=Bank()
    b.create_account()
    acclist.append(b)
  elif ch==2:
    searchno=int(input("Enter account number:"))
    flag=False
    for i in acclist:
      if i.accno==searchno:
        print(i)
        flag=True  
    if flag==False:
       print("Acount doesnt exist\ncreate  a account first")

  elif ch==3:
    searchno=int(input("Enter account number:"))
    flag=False
    for i in acclist:
      if i.accno==searchno:
        i.deposit_ammount()
        print(i)
        flag=True  
    if flag==False:
       print("Acount doesnt exist\ncreate  a account first")  
  elif ch==4:
    searchno=int(input("Enter account number:"))
    flag=False
    for i in acclist:
      if i.accno==searchno:
        i.withdraw_ammount()
        print(i)
        flag=True  
    if flag==False:
       print("Acount doesnt exist\ncreate  a account first")
    
  elif ch==0:
    print("Exiting.........")
    break  
  else:
    print("Error")

1.Create Account
2.Check Balance
3.Deposit Amount
4.Withdraw amount
0.Exit
:1
Your account created:  202302
Enter name: hulk
Enter amount to start account: 30000
Account number:202302 Name:hulk Amount:30000.0

1.Create Account
2.Check Balance
3.Deposit Amount
4.Withdraw amount
0.Exit
:1
Your account created:  202303
Enter name: iorn man
Enter amount to start account: 120000
Account number:202303 Name:iorn man Amount:120000.0

1.Create Account
2.Check Balance
3.Deposit Amount
4.Withdraw amount
0.Exit
:2
Enter account number:202302
Account number:202302 Name:hulk Amount:30000.0

1.Create Account
2.Check Balance
3.Deposit Amount
4.Withdraw amount
0.Exit
:3
Enter account number:202301
Acount doesnt exist
create  a account first

1.Create Account
2.Check Balance
3.Deposit Amount
4.Withdraw amount
0.Exit
:3
Enter account number:202302
Enter amount to deposit: 10000
Account number:202302 Name:hulk Amount:40000.0

1.Create Account
2.Check Balance
3.Deposit Amount
4.Withdraw amount
0.Exit
:77
Error

1.Create Account
2.Check Balance
3.Deposit Amount
4.Withdraw amount
0.Exit
:0
Exiting.........