1. Python program to interchange first and last elements in a list
Given a list, write a Python program to swap first and last element of the list.

In [ ]:
'''
Examples: 
Input : [12, 35, 9, 56, 24]
Output : [24, 35, 9, 56, 12]

Input : [1, 2, 3]
Output : [3, 2, 1]

'''

2. WAP to find length of list

In [ ]:
'''
The list is : [1, 4, 5, 7, 8]
Length of list is : 5
'''

3. 
WAP to Check if element exists in list

In [ ]:
'''
Checking if 4 exists in list : 
Element Exists
'''

4. WAP to clear a list

In [ ]:
'''
before clear: [6, 0, 4, 1]
after clear: []
'''

5. WAP to Reversing a List

In [ ]:
'''
Input : list = [10, 11, 12, 13, 14, 15]
Output : [15, 14, 13, 12, 11, 10]


Input : list = [4, 5, 6, 7, 8, 9]
Output : [9, 8, 7, 6, 5, 4]
'''

6. Given a list of numbers, write a Python program to find the sum of all the elements in the list.

In [ ]:
'''
Example: 
 
Input: [12, 15, 3, 10]
Output: 40


Input: [17, 5, 3, 5]
Output: 30
'''

7. Given a list of numbers, the task is to write a Python program to find the second largest number in the given list.

In [ ]:
'''
Examples: 
Input: list1 = [10, 20, 4]
Output: 10
Input: list2 = [70, 11, 20, 4, 100]
Output: 70
'''

8. Given a list of integers, the task is to find N largest elements assuming size of list is greater than or equal o N.

In [ ]:
'''
Examples :
Input : [4, 5, 1, 2, 9] 
N = 2
Output :  [9, 5]


Input : [81, 52, 45, 10, 3, 2, 96] 
N = 3
Output : [81, 96, 52]
'''

9. Given a list of numbers, write a Python program to remove multiple elements from a list based on the given condition.

In [ ]:
'''
Example: 
Input: [12, 15, 3, 10]
Output: Remove = [12, 3], New_List = [15, 10]


Input: [11, 5, 17, 18, 23, 50]
Output: Remove = [1:5], New_list = [11, 50]
'''

10. Given a list of numbers, write a Python program to count elements from a list based on the given input.

In [ ]:
'''
Input : lst = [15, 6, 7, 10, 12, 20, 10, 28, 10]
x = 10
Output : 3 
10 appears three times in given list.


Input : lst = [8, 6, 8, 10, 8, 20, 10, 8, 8]
x = 16
Output : 0
'''

11. Given a list of integers with duplicate elements in it. The task to generate another list, which contains only the duplicate elements. In simple words, the new list should contain the elements which appear more than one.

In [ ]:
'''
Examples : 
Input : list = [10, 20, 30, 20, 20, 30, 40, 50, -20, 60, 60, -20, -20]
Output : output_list = [20, 30, -20, 60]

Input :  list = [-1, 1, -1, 8]
Output : output_list = [-1]
'''

12. Python program to find Cumulative sum of a list
The problem statement asks to produce a new list whose i^{th} element will be equal to the sum of the (i + 1) elements.

In [ ]:
'''
Examples :
Input : list = [10, 20, 30, 40, 50]
Output : [10, 30, 60, 100, 150]


Input : list = [4, 10, 15, 18, 20]
Output : [4, 14, 29, 47, 67]
'''

13. Break a list into chunks of size N in Python

In [ ]:
'''
Input: [1, 2, 3, 4, 5,6, 7, 8, 9]
Output: [[1, 2, 3, 4], [5, 6, 7, 8], [9]]
'''

14. Remove common elements from two list in Python