Q1 : Write a Python program to remove duplicates from a list.

In [46]:
lst = [1, 2, 3, 2, 7, 4, 1, 5, 6, 4]
new_lst = list(set(lst))
print(new_lst)

[1, 2, 3, 4, 5, 6, 7]

Q2 : Write a Python program to get the sum of all the elements in a list.

In [47]:
lst = [1, 2, 3, 4, 5, 6, 7]
ad = 0
for i in range(len(lst)):
  ad+=lst[i]
print("sum = ", ad)

sum =  28

Q3 : Write a Python program to find the largest number in a list.

In [48]:
nlst = [34, 23, 65 ,34, 78, 11, 89, 93, 92]
largest = nlst[0]
for i in range(len(nlst)):
  if largest < nlst[i]:
    largest  = nlst[i]
print(largest)

93

Q4 : Write a Python program to find the second largest number in a list.

In [49]:
nlist = [34, 23, 65 ,34, 78, 11, 89, 93, 92]
l = sl = 0
#print(l, sl) #debug
if(nlist[0] > nlist[1]):
  l = nlist[0]
  sl = nlist[1]
else:
  l = nlist[1]
  sl = nlist[0]
#print(l, sl) #debug
for i in range(2, len(nlist)):
  #print("debug", nlist[i]) #debug
  if l < nlist[i]:
    sl = l
    l = nlist[i]
  else:
    if (sl < nlist[i]):
      sl = nlist[i]
#print(l, sl) #debug
print("second largest = ", sl)

second largest =  92

Q5 : Write a Python program to concatenate two lists.

In [50]:
list1 = [34, 62, 73, 86, 22]
print("List1 : ", list1)
list2 = [84, 92, 21, 56, 27, 87]
print("List2 : ", list2)
list1.extend(list2)
print("Concatenated list : ", list1)

List1 :  [34, 62, 73, 86, 22]
List2 :  [84, 92, 21, 56, 27, 87]
Concatenated list :  [34, 62, 73, 86, 22, 84, 92, 21, 56, 27, 87]

Q6 : Write a Python program to find the index of an element in a list.

In [51]:
list1 = [34, 62, 73, 86, 22]
print(list1)
print(list1.index(73))

[34, 62, 73, 86, 22]
2

Q7 : Write a Python program to check if a given element exists in a list.

In [52]:
list1 = [34, 62, 73, 86, 22]
print(list1)
if(list1.count(73)): 
  print(True)
else:
  print(False)

[34, 62, 73, 86, 22]
True

Q8 : Write a Python program to sort a list in descending order.

In [53]:
list1 = [34, 62, 73, 86, 22]
print(list1)
list1.sort(reverse=True)
print(list1)

[34, 62, 73, 86, 22]
[86, 73, 62, 34, 22]

Q9 : Write a Python program to reverse a list.

In [54]:
list1 = [34, 62, 73, 86, 22]
print(list1)
print(list1[::-1])

[34, 62, 73, 86, 22]
[22, 86, 73, 62, 34]

Q10 : Write a Python program to find the common elements between two lists.

In [55]:
list1 = [34, 62, 73, 21, 56, 22]
print("List1 : ", list1)
list2 = [84, 92, 21, 56, 27, 87]
print("List2 : ", list2)
print(list(set(list1) & set(list2)))

List1 :  [34, 62, 73, 21, 56, 22]
List2 :  [84, 92, 21, 56, 27, 87]
[56, 21]

Q1 : Write a Python function that takes a list of numbers as input and returns the sum of all the even numbers in the list. You can assume that the input list only contains integers.

In [56]:
def add_evens(arglst):
  sum = 0
  for i in range(len(arglst)):
    if arglst[i] % 2 == 0 :
      sum = sum + arglst[i]
  print("Sum of even elements : ", sum)
list1 = [1, 2, 3, 4, 5]
add_evens(list1)

Sum of even elements :  6

Q2 : Write a Python function that takes two lists as input and returns a new list that contains all the elements that are common between the two input lists. You can assume that the input lists only contain integers, and that the output list should not contain any duplicate elements.

In [57]:
def get_common_ele(arglst1, arglst2):
  print("Common elements : ", list(set(arglst1) & set(arglst2)))
list1 = [34, 62, 73, 86, 92, 22]
print("List1 : ", list1)
list2 = [84, 92, 21, 56, 22, 87]
print("List2 : ", list2)
get_common_ele(list1, list2)

List1 :  [34, 62, 73, 86, 92, 22]
List2 :  [84, 92, 21, 56, 22, 87]
Common elements :  [92, 22]

Q3 : Write a Python program that takes a list of strings as input and returns a new list containing only the strings that are longer than five characters. Your program should define a function filter_long_strings() that takes the input list as an argument and returns the filtered list.

In [58]:
def get_ele_longer_than_lim(arglst):
  #print("fun call 1st statement ", arglst) #debug
  rslt = []
  for i in range(len(arglst)):
    #print(arglst[i], len(arglst[i])) #debug 
    if len(arglst[i]) > 5 :
      rslt.append(arglst[i])
  print(rslt)
strin = input("Enter a string to check words of length over 5 : ")
lst1 = strin.split()
#print("after split ", lst1) #debug
get_ele_longer_than_lim(lst1)

Enter a string to check words of length over 5 : welcome to cdac mumbai
['welcome', 'mumbai']