Q1 : Create a string variable named my_string and assign it the value "qwertyuiopasdfghjkl asdfghjkzxcvbnm".

In [ ]:
my_string = "qwertyuiopasdfghjkl asdfghjkzxcvbnm"

Q2 : Print the third character of my_string using indexing.

In [ ]:
print(my_string[2])

e

Q3 : Print the last character of my_string using indexing.

In [ ]:
print(my_string[-1])

m

Q4 : Print the first five characters of my_string using slicing.

In [ ]:
print(my_string[:5])

qwert

Q5 : Print the last five characters of my_string using slicing.

In [ ]:
print(my_string[-5:])

cvbnm

Q6 : Print every other character of my_string using slicing.

In [ ]:
print(my_string[::2])

qetuoadgjladgjzcbm

Q7 : Print my_string in reverse using slicing.

In [ ]:
print(my_string[::-1])

mnbvcxzkjhgfdsa lkjhgfdsapoiuytrewq

Q8 : Print the first two characters of my_string using slicing.

In [ ]:
print(my_string[1:3])

we

Q9 : Print the characters of my_string from index 7 to index 12 (inclusive) using slicing.

In [ ]:
print(my_string[7:13])

iopasd

Q10 : Print the last three characters of my_string using slicing.

In [ ]:
print(my_string[-3:len(my_string):1])

bnm

Q11 : Print the characters of my_string in reverse order using slicing.

In [ ]:
print(my_string[::-1])

mnbvcxzkjhgfdsa lkjhgfdsapoiuytrewq

Q12 : Print every third character of my_string starting from the second character using slicing.

In [ ]:
print(my_string[1::3])

wtiafj dhzvm

Q13 : Create a new string variable named new_string and assign it the value "learning is fun". Concatenate my_string and new_string using the + operator and print the resulting string.

In [ ]:
new_string = "learning is fun"
print(my_string + new_string)

qwertyuiopasdfghjkl asdfghjkzxcvbnmlearning is fun

Q14 : Create a string variable named my_string and assign it the value "Python is easy to learn!".
1. Print the length of my_string.
2. Convert my_string to uppercase and print it.
3. Replace the word "easy" in my_string with the word "powerful" and print the resulting string.

In [ ]:
my_string = "Python is easy to learn!"
print(len(my_string))
print(my_string.upper())
print(my_string.replace("easy", "powerful"))

24
PYTHON IS EASY TO LEARN!
Python is powerful to learn!

Q15 : Create a string variable named email and assign it the value "jane.doe@example.com".
1. Print the username (i.e., "jane.doe") by slicing the string.
2. Print the domain (i.e., "example.com") by slicing the string.
3. Replace the domain with "mycompany.com" and print the resulting email address.

In [ ]:
email = "jane.doe@example.com"
username  = email[:email.index("@")]
print(username)
domain = email[email.index("@")+1:]
print(domain)
rep_email = email.replace(domain, "mycompany.com")
print(rep_email)

jane.doe
example.com
jane.doe@mycompany.com

Q16 : Create a string variable named my_string and assign it the value "Python is fun".
1. Check if the word "is" is in my_string and print the result.
2. Check if the word "Java" is not in my_string and print the result.
3. Split my_string into a list of words and print the result.

In [ ]:
my_string = "Python is fun"
print("'is' substring check")
if (my_string.find("is") != -1): print("'is' is not present ")
else : print("'is' check skipped")
print("'Java' substring check")
if (my_string.find("is") == -1): print("'is' is not present ")
else : print("'Java' check skipped")
print(my_string.split())

'is' substring check
'is' is not present
'Java' substring check
'Java' check skipped
['Python', 'is', 'fun']

Q17 : Create a string variable named my_string and assign it the value "Programming is fun!".
1. Use string interpolation to replace "fun" with "awesome" and print the resulting string.
2. Use the split method to split my_string into a list of words and print the result.
3. Use the join method to concatenate the list of words into a single string using a space as a separator and print the resulting string.

In [ ]:
my_string = "Programming is fun!"
print(my_string.replace("fun", "awesome"))
split_str = my_string.split()
print(my_string.split())
print(" ".join(split_str))

#concat = ""
#i=0
#for (i in range(0, len(split_str))):
#      concat = concat + split_str[i]
#print("concatenated  string is "+concat)

Programming is awesome!
['Programming', 'is', 'fun!']
Programming is fun!

Q18 : Create a string variable named my_string and assign it the value "This is a test sentence.".
1. Use the count method to count the number of occurrences of the letter "e" in my_string and print the result.
2. Use the find method to find the index of the first occurrence of the word "test" in my_string and print the result.
3. Use the replace method to replace the word "test" with the word "example" in my_string and print the resulting string.

In [ ]:
my_string =  "This is a test sentence."
print("count of letter 'e' is "+str(my_string.count('e')))
print(my_string.find("test"))
print(my_string.replace("test", "example"))

count of letter 'e' is 4
10
This is a example sentence.

Q19 : Create a string variable named my_string and assign it the value "python".
1. Use slicing to print the first three characters of my_string in reverse order.
2. Use slicing to print the last two characters of my_string in reverse order.
3. Use the join method to add a hyphen between each character of my_string and print the resulting string.

In [ ]:
my_string = "python"
print(my_string[-1:-4:-1])
print(my_string[-1:-3:-1])
print("-".join(my_string))

noh
no
p-y-t-h-o-n

Q20 : Create a string variable named my_string and assign it the value "Python is a popular programming language".
1. Use the title method to capitalize the first letter of each word in my_string and print the resulting string.
2. Use the split method to split my_string into a list of words and print the result.
3. Use the replace method to replace the word "Python" with "Java" in my_string and print the resulting string.

In [ ]:
my_string = "Python is a popular programming language"
print(my_string.title())
print(my_string.split())
print(my_string.replace("Python", "Java"))

Python Is A Popular Programming Language
['Python', 'is', 'a', 'popular', 'programming', 'language']
Java is a popular programming language

Q21 : Create a string variable named my_string and assign it the value "Hello, World!".
1. Use the lower method to convert my_string to lowercase and print the resulting string.
2. Use the upper method to convert my_string to uppercase and print the resulting string.
3. Use slicing to print the string "World" from my_string.

In [ ]:
my_string = "Hello, World!"
print(my_string.lower())
print(my_string.upper())
print(my_string[7:12])

hello, world!
HELLO, WORLD!
World

Q22 : Create a string variable named my_string and assign it the value "racecar".
1. Use slicing to print the string "race" from my_string.
2. Use slicing to print the string "cec" from my_string in reverse order.
3. Check if my_string is a palindrome (i.e., reads the same forwards and backwards) and print the result.

In [ ]:
my_string = "racecar"
print(my_string[:4])
print(my_string[2:5])
if(my_string[:] == my_string[::-1]):
  print("Palindrome string")
else:
    print("Not a pallindrome string")

race
cec
Palindrome string